code/refapp-domain/src/main/resources/xsd/author.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:com:teoware:refapp:domain" targetNamespace="urn:com:teoware:refapp:domain" version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="AuthorType">
		<xs:sequence>
			<xs:element name="username" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="firstName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="LastName" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
